node_modules/
.next/
dist/
build/
.env
.env.local
.vercel
*.log
.DS_Store

# Ignorar dependências de subpastas recursivamente
**/node_modules/
**/node_modules/*
**/dist/
**/.next/
**/.vercel/
**/.env*.local